<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Github_Auto_Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Github_Auto_Backup.Properties.Settings>
            <setting name="RepoLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="NextBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupStatus" serializeAs="String">
                <value />
            </setting>
        </Github_Auto_Backup.Properties.Settings>
    </userSettings>
</configuration>